:nth-of-type(1):checked ~ .picker label:nth-of-type(1),
:nth-of-type(2):checked ~ .picker label:nth-of-type(2),
:nth-of-type(3):checked ~ .picker label:nth-of-type(3),
:nth-of-type(4):checked ~ .picker label:nth-of-type(4),
:nth-of-type(5):checked ~ .picker label:nth-of-type(5),
:nth-of-type(6):checked ~ .picker label:nth-of-type(6),
:nth-of-type(7):checked ~ .picker label:nth-of-type(7),
:nth-of-type(8):checked ~ .picker label:nth-of-type(8),
:nth-of-type(9):checked ~ .picker label:nth-of-type(9),
:nth-of-type(10):checked ~ .picker label:nth-of-type(10),
:nth-of-type(11):checked ~ .picker label:nth-of-type(11),
:nth-of-type(12):checked ~ .picker label:nth-of-type(12),
:nth-of-type(13):checked ~ .picker label:nth-of-type(13),
:nth-of-type(14):checked ~ .picker label:nth-of-type(14),
:nth-of-type(15):checked ~ .picker label:nth-of-type(15),
:nth-of-type(16):checked ~ .picker label:nth-of-type(16),
:nth-of-type(17):checked ~ .picker label:nth-of-type(17),
:nth-of-type(18):checked ~ .picker label:nth-of-type(18),
:nth-of-type(19):checked ~ .picker label:nth-of-type(19),
:nth-of-type(20):checked ~ .picker label:nth-of-type(20),
:nth-of-type(21):checked ~ .picker label:nth-of-type(21),
:nth-of-type(22):checked ~ .picker label:nth-of-type(22),
:nth-of-type(23):checked ~ .picker label:nth-of-type(23),
:nth-of-type(24):checked ~ .picker label:nth-of-type(24),
:nth-of-type(25):checked ~ .picker label:nth-of-type(25),
:nth-of-type(26):checked ~ .picker label:nth-of-type(26),
:nth-of-type(27):checked ~ .picker label:nth-of-type(27),
:nth-of-type(28):checked ~ .picker label:nth-of-type(28),
:nth-of-type(29):checked ~ .picker label:nth-of-type(29),
:nth-of-type(30):checked ~ .picker label:nth-of-type(30),
:nth-of-type(31):checked ~ .picker label:nth-of-type(31),
:nth-of-type(32):checked ~ .picker label:nth-of-type(32),
:nth-of-type(33):checked ~ .picker label:nth-of-type(33),
:nth-of-type(34):checked ~ .picker label:nth-of-type(34),
:nth-of-type(35):checked ~ .picker label:nth-of-type(35),
:nth-of-type(36):checked ~ .picker label:nth-of-type(36),
:nth-of-type(37):checked ~ .picker label:nth-of-type(37),
:nth-of-type(38):checked ~ .picker label:nth-of-type(38),
:nth-of-type(39):checked ~ .picker label:nth-of-type(39),
:nth-of-type(40):checked ~ .picker label:nth-of-type(40),
:nth-of-type(41):checked ~ .picker label:nth-of-type(41),
:nth-of-type(42):checked ~ .picker label:nth-of-type(42),
:nth-of-type(43):checked ~ .picker label:nth-of-type(43),
:nth-of-type(44):checked ~ .picker label:nth-of-type(44),
:nth-of-type(45):checked ~ .picker label:nth-of-type(45),
:nth-of-type(46):checked ~ .picker label:nth-of-type(46),
:nth-of-type(47):checked ~ .picker label:nth-of-type(47),
:nth-of-type(48):checked ~ .picker label:nth-of-type(48),
:nth-of-type(49):checked ~ .picker label:nth-of-type(49),
:nth-of-type(50):checked ~ .picker label:nth-of-type(50) {
    animation: blink-animation 1s steps(5, start) infinite;
    border: 1px solid red;
    background-color: white;
    border-radius: 2px;
}