@import "bus.sprites.css";
@import "bus.selection.css";

:root {
    --dx: -42px;
    --δr: 38px;
    --dy: -47px;
    --bg: silver;
}

label { cursor: hand; }
.tile,.picker label { background-image: url(tiles.png); min-width: 7px; min-height: 47px; }

.bus input, #port, #ddd {
    position: absolute;
    left: -9999px;
}

.shadow label {
    display: inline-flex;
    flex-direction: column;
    min-height: 47px;
    justify-content: space-between;
    align-items: center;
    vertical-align: bottom;
    position: relative;
}

.shadow label .bottom {
    position: absolute;
    bottom: 0;
}

.picker {
    display: none;
    position: absolute;
    white-space: nowrap;
    z-index: 998;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 1px;
    background-color: silver;
    opacity: 0.8;
    transition: background-color 0.5s;
    margin-top: -7px;
    transform-origin: top left;
    transform: scale(0.75);
}

.picker .conditional ~ label {
    transform-origin: bottom left;
    min-height: 17px; max-height: 17px;
}
.picker .w  { min-height: 20px; }
.picker label:hover {
    background-color: white;
    transform: scale(2);
}

.picker label { display: inline-block; margin: 1px; } 

.picker .blank { min-height: 17px; max-height: 17px; width: 16px; }
:checked[value="a5"] ~ .shadow .bottom { right: 0; }
:checked[value="f"] ~ :checked[value="l5"] ~ .shadow .bottom { right: 0; }

:checked[value="spot2"] ~ .shadow .top,
.spot2 { background-position: calc(var(--dx) * 7 - 1px) calc(var(--dy) * 2); width: 6px; }
.blank { background-position: calc(var(--dx) * 7 - 1px) calc(var(--dy) * 4); width: 22px; }

/*exceptions*/
:checked[value="a2"] ~ .shadow .bottom,
.slot:has(:checked[value^="f"]) ~ .slot :checked[value="a5"] ~ .shadow .bottom { left: 0; }
.slot:has(:checked[value^="f"]) ~ .slot :checked[value="a2"] ~ .shadow .bottom { right: 0; left: initial; }
/*quirks*/
:checked[value="l00"] ~ .shadow .bottom,
:checked[value="l000"] ~ .shadow .bottom { right: 0; }
:checked[value="w6"] ~ :checked[value="a3"] ~ .shadow .bottom { margin-left: -12px; }

.paint :checked + label,
.picker :checked + label,
:checked[value="spot2"] ~ .shadow .top,
.spot2,
blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation { to { opacity: 0.2; } }
@-webkit-keyframes blink-animation { to { opacity: 0.2; } }

.slot,
.tile { display: inline-block; }
.open:checked ~ .shadow { background-color: #faa; opacity: 0.8; }
.picker,
.open:checked ~ .shadow label[for$="open"],
.shadow label[for$="close"] { display: none; }

.open:checked ~ .picker { display: block; animation: fadeIn 0.5s; }
.open:checked ~ .shadow label[for$="close"] { display: inline-flex; animation: fadeIn 0.5s; }

@keyframes fadeIn {
     from { opacity: 0; }
     to { opacity: 0.8; }
}

.bus-view {
    margin: 20px;
    white-space: nowrap;
    display: inline-block;
}

.bus {
    display: inline-block;
    margin: 10px;
    border: 1px solid #eee;
    padding: 10px 10px 5px;
    border-radius: 10px;
    white-space: nowrap;
    background-color: rgba(0,0,0,25%);
}

#ddd:checked ~ .bus {
    transform: perspective(3cm) rotateX(351deg) rotateY(333deg);
}

#port:not(:checked) ~ .bus .slot:has(:checked[value^="h"]) ~ .slot,
#port:not(:checked) ~ .bus .f,
#port:not(:checked) ~ .bus .r,
.slot .f,
.slot .r,
.slot :checked[value^="t"] ~ .shadow .slot .t,
.slot :checked[value^="h"] ~ .shadow .slot .h,
.slot:has(:checked + :not(.f)) + .slot:has(:checked + .h) + .slot .picker input + :not(.f),
.slot:has(:checked + .f) ~ .slot .f,
.slot:has(:checked + .f) + .slot .picker input + :not(.h),
.slot:has(:checked + .f) ~ .slot:has(:checked + .h) ~ .slot .h,
.slot:has(:checked + .f) ~ .slot:has(:checked + .t) + .slot .picker input + :not(.r),
.slot:has(:checked + .r) ~ .slot,
.slot:has(.picker :checked + .spot) ~ .slot:has(.picker :checked + .spot) {
    display: none;
}

.slot:has(:checked + .h) + .slot .f,
.slot:has(:checked + .f) + .slot .h,
.slot:has(:checked + .f) + .slot:has(:checked + .h) ~ .slot .picker input + :is(.spot1):is(.t):is(.w):is(.d):is(.j), /*:not(.f):not(.r):not(.t):not(.h),*/
.slot:has(:checked + .f) + .slot:has(:checked + .h) ~ .slot .t,
.slot:has(:checked + .f) ~ .slot:has(:checked + .t) + .slot .r {
    display: inline-block;
}

.slot:has(:checked + .f) + .slot:has(:checked + .h) ~ .slot .f,
.slot:has(:checked + .f) + .slot:has(:checked + .h) ~ .slot:has(:checked + .t) + .slot .picker input + :not(.r) {
    display: none;
}

.left .slot .tile,
.left .slot .picker input + :not(.r),
.slot :checked[value^="f"] ~ .shadow .slot .tile,
.slot :checked[value^="f"] ~ .picker :not(.r) {
    transform: scaleX(-1);
}

.tile.bottom,
.picker .conditional,
.picker .conditional ~ label { display: none; }

.shadow,
:checked[value^="w"] ~ .conditional ~ :checked  ~ .shadow .tile.bottom,
:checked[value^="w"] ~ .picker .conditional,
:checked[value^="w"] ~ .picker .conditional ~ label { display: inline-block; }