.bus {
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(1deg) rotateY(28deg) rotateZ(1deg) translateX(0px) translateY(0px) translateZ(5px) skewX(0deg) skewY(0deg);
}

.bus {
    transform-style: preserve-3d;
}

.bus > div {
    position: absolute;
    text-align: center;
}

.front {
    -webkit-transform: translateZ(100px);
    transform: translateZ(100px);
    background-color: #00d7ff;
}

.back {
    -webkit-transform: translateZ(-100px) rotateY(180deg);
    transform: translateZ(-100px) rotateY(180deg);
    background-color: #e86836;
}

.right {
    -webkit-transform: rotateY(270deg) translateX(-100px);
    transform: rotateY(270deg) translateX(-100px);
    transform-origin: center left;
    background-color: #00ff73;
}

.left {
    -webkit-transform: rotateY(-270deg) translateX(100px);
    transform: rotateY(-270deg) translateX(100px);
    transform-origin: top right;
    background-color: #ffc900;
}