@import "bus.gradients.css";

.h, .slot:has(:checked + .h) .shadow label {
    clip-path: polygon(
      0% 0%, 50% 0%,
             90% 45%, 95% 45%,
                      95% 70%,
                          100% 70%,
                          100% 80%,
                      95% 80%,
             50% 90%,
      0% 90%, 0% 90%
    );
}
.slot:has(:checked + .f) ~ .slot:has(:checked + .t) .shadow label,
.slot:has(:checked + .f) ~ .slot:has(:checked + .h) .shadow label{
    transform: scaleX(-1);
}
.f,.slot:has(:checked + .f) .shadow label {
    clip-path: polygon(
        94% 0%, 
        6% 0%,  
        4% 40%, 
        4% 85%, 
        9% 90%, 
        91% 90%,
        96% 85%,
        96% 40% 
    );
}
.r, .slot:has(:checked + .r) .shadow label {
    clip-path: polygon(
        98% 0%,  
        2% 0%,   
        0% 40%,  
        0% 85%,  
        5% 90%,  
        95% 90%, 
        100% 85%,
        100% 40% 
    );
}
.t, .slot:has(:checked + .t) .shadow label {
    clip-path: polygon(
      33% 0%, 100% 0%,
              100% 90%,
            50% 90%,
        75% 90%,
       5% 85%, 5% 80%,
      0 80%, 0 70%,
      5% 70%, 5% 40%
    );
}
.j, .slot:has(:checked + .j) .shadow label {
    clip-path: polygon(
      0% 10%, 40% 10%,
        40% 5%, 60% 5%,
        60% 10%, 100% 10%,
      100% 85%, 60% 85%,
      60% 90%,
        40% 90%, 40% 85%,
      0 85%
    );
}

/*quirks*/
/*doors in base color*/
.bus:has(:checked + .c2) .shadow:has(~ .picker :checked + .d:is(.d7, .d4)) label {
    background-image: linear-gradient(to bottom, white 10px 42px, transparent 40px);
}

.bus:has(:checked + .c7) .shadow:has(~ .picker :checked + .d) label {
    background-image: linear-gradient(to bottom, transparent 10px 31px, white 31px 42px, transparent 40px);
}
.bus:has(:checked + .c7) .shadow:has(~ .picker :checked + .h) label {
    background-image: linear-gradient(to bottom, transparent 10px 34px, white 34px 37px, transparent 37px);
    background-position: 3px 0px;
    background-repeat: no-repeat;
}
.bus:has(:checked + .c7) .shadow:has(~ .picker :checked + .t) label {
    background-image: linear-gradient(to bottom, transparent 10px 35px, white 35px 38px, transparent 38px);
    background-repeat: no-repeat;
    background-size: 4px;
}
.bus:has(:checked + .c8) .shadow:has(~ .picker :checked + .d) label {
    background-image: linear-gradient(to bottom, transparent 10px 31px, #FCE10B 31px 42px, transparent 40px);
}
.bus:has(:checked + .c8) .shadow:has(~ .picker :checked + .h) label {
    background-image: linear-gradient(to bottom, transparent 10px 34px, #FCE10B 34px 37px, transparent 37px);
    background-position: 3px 0px;
    background-repeat: no-repeat;
}
.bus:has(:checked + .c8) .shadow:has(~ .picker :checked + .t) label {
    background-image: linear-gradient(to bottom, transparent 10px 35px, #FCE10B 35px 38px, transparent 38px);
    background-repeat: no-repeat;
    background-size: 4px;
}
.slot:has(:checked + .spot2) {
    background-color: var(--bg);
}

.c {
    min-height: 42px;
    display: inline-block;
    position: relative;
    background-position: 0px 0px;
    width: 10px;
    background-size: 30px;
    z-index: 1;
}