.slot:has(:checked + .h) {
    background:
        linear-gradient(262deg, white 4px, transparent 4px),
        linear-gradient(298deg, white 2px, transparent 3px);
    background-size: 100% 42px;
    background-repeat: no-repeat;
}
.slot:has(:checked + .f) ~ .slot:has(:checked + .h) {
    background:
        linear-gradient(98deg, white 4px, transparent 4px),
        linear-gradient(62deg, white 2px, transparent 3px);
    background-size: 100% 42px;
    background-repeat: no-repeat;
}
.slot:has(:checked + .f) {
    background:
        linear-gradient(265deg, white 4px, transparent 4px),
        linear-gradient(95deg, white 4px, transparent 4px),
        linear-gradient(to right, white 2px, transparent 2px),
        linear-gradient(to left, white 2px, transparent 2px),
        linear-gradient(300deg, white 4px, transparent 4px),
        linear-gradient(60deg, white 4px, transparent 4px);
    background-size: 100% 42px;
    background-repeat: no-repeat;
}
.slot:has(:checked + .r) {
    background:
        linear-gradient(267deg, white 2px, transparent 2px),
        linear-gradient(93deg, white 2px, transparent 2px),
        linear-gradient(300deg, white 2px, transparent 2px),
        linear-gradient(60deg, white 2px, transparent 2px);
    background-size: 100% 42px;
    background-repeat: no-repeat;
}
.slot:has(:checked + .t) {
    background:
        linear-gradient(96deg, white 2px, transparent 1px),
        linear-gradient(43deg, white 3px, transparent 3px);
    background-size: 100% 42px;
    background-repeat: no-repeat;
}
.slot:has(:checked + .f) ~ .slot:has(:checked + .t) {
    background:
        linear-gradient(262deg, white 4px, transparent 4px),
        linear-gradient(298deg, white 2px, transparent 3px);
    background-size: 100% 42px;
    background-repeat: no-repeat;
}
.slot:has(:checked + .j) {
    background:
        linear-gradient(to bottom, white 0px 3px, transparent 3px 41px, white 41px);
    background-size: 100% 47px;
    background-repeat: no-repeat;
}
#bus0,#bus5,#bus6,.c1 {
    background:
        linear-gradient(to left, white 20px, transparent 20px),
        linear-gradient(to bottom, #e29000 52px, white 52px);
    background-size: 100% 42px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}
#bus1,.c2 {
    background:
        linear-gradient(to left, white 20px, transparent 20px),
        linear-gradient(to bottom, white 10px 20px, #3B77B3 20px 31px, white 31px);
    background-size: 100% 42px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

#bus2,.c2 {
    background:
        linear-gradient(to left, white 20px, transparent 20px),
        linear-gradient(to bottom, white 10px 31px, rgb(134,26,34) 31px);
    background-size: 100% 42px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

#bus3,.c3 {
    background:
        linear-gradient(to left, white 20px, transparent 20px),
        linear-gradient(to bottom, blue 10px 31px, white 31px);
    background-size: 100% 42px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}
#bus4,.c4 {
    background:
        linear-gradient(to left, white 20px, transparent 20px),
        linear-gradient(to bottom, rgb(134,26,34) 10px 31px, white 31px);
    background-size: 100% 42px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}
.slot:has(:checked + .spot2) {
    background-color: white;
}